.item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 8vw;
    width: 8vw;
    display: inline-block;
    background-color: #212122;
    -moz-box-shadow: 10px 10px 16px #000000;
    -webkit-box-shadow: 10px 10px 16px #000000;
    box-shadow: 10px 10px 16px #000000;
    object-fit: contain;
    background-size: contain;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    line-height: 11vw;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    cursor: pointer;
}

.item-modified {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 5px;
    text-align: center;
    aspect-ratio: 1 / 1;
    width: 25%;
    background-color: #212122;
    -moz-box-shadow: 10px 10px 16px #000000;
    -webkit-box-shadow: 10px 10px 16px #000000;
    box-shadow: 10px 10px 16px #000000;
    object-fit: contain;
    background-size: contain;
    text-align: center;
    border-radius: 3px;
    line-height: 80%;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    margin-top: 8px;
}