.background {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: black;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
}
.item-selector {
    height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.user-inv {
    flex: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all-inv {
    flex: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-selected {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.get-inv-button {
    height: 5vh;
    width: 20%;
    background-color: #212122;
    margin-top: 3vh;
    text-align: center;
    font-weight: bold;
    font-size: large;
    line-height: 5vh;
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-color: #212122;
    cursor: pointer;
    color: white;
}
.inventory {
    height: 50vh;
    width: 90%;
    background-color: #212122;
    border-radius: 5px;
    margin-top: 3vh;
    scrollbar-color: blue;

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    overflow-y: scroll;
}

.inventory2 {
    height: 50vh;
    width: 90%;
    background-color: #212122;
    border-radius: 5px;
    margin-top: 3vh;
    scrollbar-color: blue;

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    overflow-y: scroll;
    
}

.inventory3 {
    margin-left: 1vw;
    height: 23vh;
    width: 35vw;
    background-color: #212122;
    border-radius: 5px;
    margin-top: 5px;
    scrollbar-color: blue;
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    grid-gap: 10px;
    border-width: 0px;   
}

.inventory3Active {
    margin-left: 1vw;
    height: 23vh;
    width: 35vw;
    background-color: #212122;
    border-radius: 5px;
    border-width:2px;
    border-style:solid;
    border-color:yellow;
    margin-top: 5px;
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    grid-gap: 10px;   
}

.inventory4 {
    height: 23vh;
    width: 35vw;
    background-color: #212122;
    border-radius: 5px;
    margin-top: 5px;
    scrollbar-color: blue;
    border-width: 0px;
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    grid-gap: 10px;  
}

.inventory4Active {
    height: 23vh;
    width: 35vw;
    background-color: #212122;
    border-radius: 5px;
    margin-top: 5px;
    scrollbar-color: blue;
    border-width:2px;
    border-style:solid;
    border-color:yellow;
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    grid-gap: 10px;  
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #212122;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.items-to-receive {
    flex: 1;
    display: flex;
    background-color: #333333;
    justify-content: center;
}

.arrow {
    flex: 0.1;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.arrow-icon {
    margin-top: 7vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

.items-to-trade {
    flex: 1;
    display: flex;
    background-color: #333333;
    
    justify-content: center;
}

.notes-submit-container {
    flex: 10;
    background-color: #333333;
    display: flex;
    flex-direction: column;
}

.search-container {
    display: flex;
    align-items: center;
    margin-top: 3vh;
    text-align: center;
    font-weight: bold;
    font-size: large;
    flex-direction: column;
    position: relative;
}

.search-input {
    padding: 10px;
    height: 5vh;
    border: 1px solid #212122;
    border-radius: 5px;
    width: 250px;
    background-color: #212122;
    color: white;
}

.search-button {
    background-color: #212122;
    color: white;
    height: 5vh;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}


body {
    overflow: hidden
}

.dropdown {
    background-color: #212122;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    z-index: 999;
    position: absolute;
    left: 0;
    margin-top: 39px;
    width: 250px;
}
  
.dropdown:empty {
    border: none;
}
  
.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    color: white;
}

a:visited { text-decoration: none; color:white; }

.notes-submission {
    
    padding: 15px;
    background-color: black;
    height: 17vh;
    border-radius: 5px;
    border-width: 0px;
    margin-top: 5px;
    margin-left: 1vw;
    color: white;
    
}

.submit-listing {
    
    background-color: #212122;
    border-width: 0px;
    margin-top: 1vh;
    text-align: center;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    cursor: pointer;
    color: white;
    height: 5vh;
    margin-left: 1vw;
    border-radius: 5px;
}